* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  min-height: 39px;
  background-color: #dbdbdb;
  width: 100%;
}
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  max-width: 880px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  line-height: 39px;
}
.nav a:hover {
  text-decoration: underline;
}
.top-container {
  max-width: 1167px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 70px;
}
.top-block-first {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ababab;
}
.top-block-first input {
  border: 1px solid #c3c3c3;
  background: #fff;
  padding: 11px;
  width: 360px;
  height: 34px;
  margin-bottom: 8px;
}
.top-block-first input::placeholder {
  font-size: 13px;
  font-style: italic;
}
.top-block-first p {
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.top-block-first button {
  background-color: #649a18;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 14px 48px;
  padding-right: 58px;
}
#tel {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 7px;
}
#tel span {
  color: #649a18;
}
.top-block-second {
  padding-top: 60px;
  display: flex;
  padding-left: 84px;
}
.top-block-second p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.top-block-second h1 {
  padding: 0;
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
}
.block-second-items.first {
  margin-right: 49px;
}
#welcome {
  padding-bottom: 8px;
  border-bottom: 1px solid #ababab;
  display: block;
}
#welcome span {
  color: #649a18;
}
#welcome_text {
  padding: 20px 0;
  border-bottom: 1px solid #ababab;
  margin-bottom: 17px;
  display: block;
}
.second-items-meta {
  display: flex;
  justify-content: space-between;
}
.second-items-meta a {
  font-size: 16px;
  color: #649a18;
  text-decoration: none;
  border-bottom: 1px dotted #649a18;
}
.second-items-meta a:hover {
  transform: scale(1.1);
}
#date {
  font-size: 14px;
  color: #666666;
}
.advantages {
  background: rgba(219, 219, 219, 0.35);
}
.advantages-container {
  max-width: 1141px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 28px;
}
.advantages-container h2 {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}
.advantages-line {
  width: 416px;
  height: 1px;
  background-color: #ababab;
  margin: 0 auto;
  margin-bottom: 36px;
}
.advantages-grid {
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}
.grid-items {
  text-align: center;
}
.grid-items img {
  margin-bottom: 17px;
}
.grid-items-line {
  width: 263px;
  height: 1px;
  background-color: #649a18;
  margin-bottom: 15px;
}
.grid-text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
