* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    min-height: 39px;
    background-color: #dbdbdb;
    width: 100%;
}
.nav {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    max-width: 880px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        color: #000000;
        line-height: 39px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.top-container {
    max-width: 1167px;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 70px;
}
.top-block-first {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ababab;
    input {
        border: 1px solid #c3c3c3;
        background: #fff;
        padding: 11px;
        width: 360px;
        height: 34px;
        margin-bottom: 8px;
        &::placeholder {
            font-size: 13px;
            font-style: italic;
        }
    }
    p {
        font-size: 13px;
        margin: 0;
        padding: 0;
    }
    button {
        background-color: #649a18;
        border: none;
        color: #fff;
        font-size: 16px;
        padding: 14px 48px;
        padding-right: 58px;
    }
}
#tel {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 7px;
    span {
        color: #649a18;
    }
}
.top-block-second {
    padding-top: 60px;
    display: flex;
    padding-left: 84px;
    p {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        padding: 0;
    }
    h1 {
        padding: 0;
        margin: 0;
        font-size: 36px;
        text-transform: uppercase; 
        font-weight: 400;
    }
}
.block-second-items.first {
    margin-right: 49px;
}
#welcome {
    padding-bottom: 8px;
    border-bottom: 1px solid #ababab;
    display: block;
    span {
        color: #649a18;
    }
}
#welcome_text {
    padding: 20px 0;
    border-bottom: 1px solid #ababab;
    margin-bottom: 17px;
    display: block;
}
.second-items-meta {
    display: flex;
    justify-content: space-between;
    a {
        font-size: 16px;
        color: #649a18;
        text-decoration: none;
        border-bottom: 1px dotted #649a18;
        &:hover {
            transform: scale(1.1);
        }
    }
}
#date {
    font-size: 14px;
    color: #666666;
}
.advantages {
    background: rgba(219, 219, 219, 0.35);
}
.advantages-container {
    max-width: 1141px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 28px;
    h2 {
        font-size: 36px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-weight: normal;
        text-align: center;
        margin-bottom: 10px;
    }
}
.advantages-line {
    width: 416px;
    height: 1px;
    background-color: #ababab;
    margin: 0 auto; 
    margin-bottom: 36px;
}
.advantages-grid {
    display: grid;
    grid-template-columns: repeat(4, 1/4fr);
    grid-template-rows: auto;
    grid-gap: 30px;
}
.grid-items {
    text-align: center;
    img {
        margin-bottom: 17px;
    }
}
.grid-items-line {
    width: 263px;
    height: 1px;
    background-color: #649a18;
    margin-bottom: 15px; 
}
.grid-text {
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.footer {
    padding: 21px 0;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}
.cert {
    padding-top: 72px;
    padding-bottom: 82px;
}
.cert-container {
    max-width: 1055px;
    margin: 0 auto;
}
.cert-line {
    width: 381px;
    height: 1px;
    background-color: #ababab;
    margin: 0 auto;
    margin-bottom: 33px;
}
.cert-h2 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.cert-items {
    display: flex;
    justify-content: space-between;
}
.reviews {
    padding-top: 61px;
    padding-bottom: 49px;
    background: rgba(219, 219, 219, 0.35);
}
.reviews-container {
    max-width: 1139px;
    margin: 0 auto;
}
.reviews-h2 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}
.reviews-line {
    width: 350px;
    height: 1px;
    background-color: #ababab;
    margin: 0 auto;
    margin-bottom: 32px;
}
.reviews-block {
    display: flex;
    align-items: flex-start;
    &:nth-of-type(1) {
        margin-right: 37px;
    }
    p {
        margin: 0;
        padding: 0;
    }
    img {
        flex: 0;
        margin-right: 12px;
    }
}
.reviews-blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
}
.reviews-block-text-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px !important;
}
.reviews-block-text-job {
    font-size: 16px;
    color: #649a18;
    padding-bottom: 8px !important;
    border-bottom: 1px solid #ababab;
}
.review {
    padding-top: 18px !important;
    line-height: 24px;
    font-size: 16px;
}
.reviews-btn {
    padding: 15px 44px;
    background-color: #649a18;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    display: block;
    margin: 0 auto;
}
.btmenu {
    padding-top: 41px;
    padding-bottom: 21px;
    background: #444444;
}
.btmenu-container {
    max-width: 1140px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.btmenu-blocks:nth-of-type(1) {
    margin-right: 34px;
    max-width: 257px;
}
.btmenu-blocks-items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-gap: 33px;
}
.bt-blokcs-line {
    width: 100%;
    height: 1px;
    background-color: #ababab;
    margin-bottom: 19px;
}
.bt-links {
    margin-top: auto;
    padding-top: 10px;
}
.bt-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    a {
        color: #fff;
        text-decoration: none;
        line-height: 24px;
    }
    li {
        margin-bottom: 10px;
    }
}
.blocks-text-audit {
    font-size: 13px;
    font-stretch: lighter;
}
.bt-text-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #649a18;
}
.bt-tel {
    font-size: 30px;
    margin-bottom: 16px !important;
    span {
        color: #649a18;;
    }
}
.bt-btn {
    padding: 14px 48px;
    background-color: #649a18;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border: none;
}
.adress {
    max-width: 249px;
    margin-bottom: 13px !important;
}
.btmenu-blocks-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    p {
        margin: 0;
        padding: 0;
    }
}
.btmenu-blocks-socials {
    display: inline-block;
    vertical-align: bottom;
}
.btmenu-blocks.second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}